
//Bordes

$border-radius-sm : 6px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-xl: 16px;

// Espaciado
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 48px;

// Colores principales
$primary-blue: #3b82f6;
$primary-blue-dark: #2563eb;
$success-green: #059669;
$danger-red: #ef4444;
$warning-yellow: #f59e0b;